.row {
  display: flex;
}
.col {
  width: 20px;
  border: 1px solid black;
  text-align: center;
  padding: 30px;
}
.Card {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  -webkit-transform: rotate(357deg);
  -moz-transform: rotate(357deg);
  -o-transform: rotate(357deg);
  transform: rotate(357deg);
}
